{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion SCIM 2.0 API (baton-notion connector surface)",
    "version": "1.0.0",
    "description": "Describes only the endpoints baton-notion calls. Scope is derived from pkg/client/client.go; response shapes are derived from the structs in pkg/client/models.go and settled against Notion's SCIM documentation at https://www.notion.com/help/provision-users-and-groups-with-scim (accessed 2026-09-29) and, where that page is silent on wire shapes, RFC 7643 (SCIM Core Schema) and RFC 7644 (SCIM Protocol).\n\nNotion supports more than this connector uses -- PUT on both resources, and POST, PATCH and DELETE on Groups. Those are omitted deliberately: spec scope is connector scope.\n\nOne divergence worth recording: Notion's help page gives the SCIM base URL as https://api.notion.com/scim/v2, while pkg/client/client.go hardcodes defaultBaseURL = \"https://www.notion.so/scim/v2\". Both are listed under `servers` below, with the connector's default first. The connector's `base-url` config field overrides it either way.\n\nAuth: a Notion SCIM bot token, generated by an Enterprise-plan organization owner, sent as `Authorization: Bearer` by uhttp.WithBearerToken.\n\nContent type: the connector sends and accepts `application/json`, not `application/scim+json`.\n\nPagination: index-based. The connector sends `startIndex` (1-indexed, floored at 1) and `count` (clamped to Notion's documented maximum of 100), then advances to `startIndex + itemsPerPage` and stops once that reaches `totalResults`.\n\nTimestamps: `meta.created` and `meta.lastModified` are deliberately absent from the schemas below. Notion documents that they carry no meaningful values, and the connector's structs do not declare them."
  },
  "servers": [
    {
      "url": "https://www.notion.so/scim/v2",
      "description": "The connector's defaultBaseURL in pkg/client/client.go, used whenever the `base-url` config field is empty."
    },
    {
      "url": "https://api.notion.com/scim/v2",
      "description": "The base URL Notion's help page documents. Reachable through the connector only by setting `base-url` explicitly."
    }
  ],
  "security": [
    {
      "scimToken": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "Workspace members."
    },
    {
      "name": "Groups",
      "description": "Workspace groups."
    }
  ],
  "paths": {
    "/Users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List workspace members",
        "description": "Called by pkg/client/client.go GetUsers. Backs the user syncer, and its `urn:ietf:params:scim:schemas:extension:notion:2.0:User` extension is where every role grant comes from -- Notion exposes no roles endpoint, so pkg/connector/role.go builds its role resources from a fixed list and reads each user's current role off this response.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/startIndex"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "A SCIM ListResponse of users.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ScimError"
          },
          "403": {
            "$ref": "#/components/responses/ScimError"
          },
          "429": {
            "$ref": "#/components/responses/ScimError"
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "summary": "Add a user to the workspace",
        "description": "Called by pkg/client/client.go CreateUser from the user syncer's CreateAccount. Notion documents that if the email already maps to an existing Notion account, this adds that account to the workspace rather than creating a new one -- so a 2xx here does not imply a newly created identity.\n\nNotion also documents that the profile-photo property is read on creation only, never on updates. The connector does not send it.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created (or newly added) user. The connector decodes the body and reads `id` off it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "200": {
            "description": "Same body as 201. The connector does not branch on the status code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ScimError"
          },
          "401": {
            "$ref": "#/components/responses/ScimError"
          },
          "409": {
            "$ref": "#/components/responses/ScimError"
          }
        }
      }
    },
    "/Users/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/userId"
        }
      ],
      "get": {
        "operationId": "getUser",
        "summary": "Get a workspace member",
        "description": "Called by pkg/client/client.go GetUser from three places in pkg/connector: the role syncer's Grant and Revoke both read the user's current role before patching it, and the user syncer's Delete re-reads the user afterwards to confirm the removal took effect.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The requested user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "description": "User not found. client.IsNotFoundError recognises this through the gRPC NotFound status uhttp maps it to, and Revoke short-circuits on it when the user was deleted between sync and revoke.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ScimError"
          }
        }
      },
      "patch": {
        "operationId": "patchUserRole",
        "summary": "Change a member's workspace role",
        "description": "Called by pkg/client/client.go PatchUserRole from the role syncer's Grant and Revoke. Revoke sends the connector's default revoked role rather than clearing the attribute, since Notion models workspace role as an assignment rather than an absence.\n\nThe operation is written in the value-as-object form -- a `replace` with no `path`, carrying the extension urn as a key inside `value`. pkg/client/client.go states the reason: extension paths containing `:` separators are inconsistently supported across SCIM implementations, so the path form is avoided.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchRequest"
              },
              "example": {
                "schemas": [
                  "urn:ietf:params:scim:api:messages:2.0:PatchOp"
                ],
                "Operations": [
                  {
                    "op": "replace",
                    "value": {
                      "urn:ietf:params:scim:schemas:extension:notion:2.0:User": {
                        "role": "member"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated user. The connector decodes the body, though its callers discard the value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "204": {
            "description": "Patch applied with no body. The connector's response target simply stays zero-valued."
          },
          "400": {
            "$ref": "#/components/responses/ScimError"
          },
          "404": {
            "$ref": "#/components/responses/ScimError"
          },
          "401": {
            "$ref": "#/components/responses/ScimError"
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Remove a member from the workspace",
        "description": "Called by pkg/client/client.go DeleteUser from the user syncer's Delete. Notion documents two limits on this operation: it removes the user from the workspace and ends their active sessions but does NOT delete the underlying Notion account, which must be done manually; and the workspace owner that created the SCIM bot token cannot be removed through the API.\n\nThe connector passes no response target for this method, so it reads no body.",
        "tags": [
          "Users"
        ],
        "responses": {
          "204": {
            "description": "User removed from the workspace."
          },
          "200": {
            "description": "User removed from the workspace, body returned. The connector ignores it."
          },
          "403": {
            "description": "Removal refused -- for example, the workspace owner that issued the SCIM token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ScimError"
          },
          "401": {
            "$ref": "#/components/responses/ScimError"
          }
        }
      }
    },
    "/Groups": {
      "get": {
        "operationId": "listGroups",
        "summary": "List workspace groups",
        "description": "Called by pkg/client/client.go GetGroups. Backs the group syncer. Notion caps an unpaginated request at 100 results, which is why the connector always sends startIndex and count rather than relying on defaults.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/startIndex"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "A SCIM ListResponse of groups.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ScimError"
          },
          "403": {
            "$ref": "#/components/responses/ScimError"
          },
          "429": {
            "$ref": "#/components/responses/ScimError"
          }
        }
      }
    },
    "/Groups/{id}": {
      "get": {
        "operationId": "getGroup",
        "summary": "Get a workspace group",
        "description": "Called by pkg/client/client.go GetGroup from the group syncer's Grants, to expand one group's `members` into membership grants. Notion documents the id as a hyphenated 32-character UUID.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Group id, used as the Baton group resource id and appended with url.JoinPath.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested group, including its member list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ScimError"
          },
          "401": {
            "$ref": "#/components/responses/ScimError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "scimToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Notion SCIM bot token. Generated in the organization's General settings by an owner on the Enterprise plan; sent by uhttp.WithBearerToken."
      }
    },
    "parameters": {
      "startIndex": {
        "name": "startIndex",
        "in": "query",
        "required": true,
        "description": "1-based index of the first result. The connector always sends it, flooring any non-positive value at 1, and advances it by the response's `itemsPerPage` for each subsequent page.",
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "default": 1
        }
      },
      "count": {
        "name": "count",
        "in": "query",
        "required": true,
        "description": "Page size. The connector always sends it, clamping anything non-positive or above 100 to client.maxItemsPerPage (100) -- Notion's documented maximum.",
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 100,
          "default": 100
        }
      },
      "userId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Notion user id, used as the Baton user resource id and appended with url.JoinPath.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "ScimError": {
        "description": "SCIM error response. The connector does not decode the body -- uhttp maps the status to a gRPC code, and client.IsNotFoundError branches on that.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "UserListResponse": {
        "type": "object",
        "description": "SCIM ListResponse envelope, decoded into client.UsersResponse. Modelled as written: the connector reads `Resources` off the envelope and computes the next start index from `startIndex`, `itemsPerPage` and `totalResults`. The struct does not declare `schemas`, so it is omitted here.",
        "properties": {
          "totalResults": {
            "type": "integer",
            "format": "int64",
            "description": "Total matching users. The sync stops once startIndex + itemsPerPage reaches this value."
          },
          "startIndex": {
            "type": "integer",
            "format": "int64",
            "description": "1-based index of the first returned user. Decoded, though the connector advances from the index it sent rather than this echo."
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int64",
            "description": "Number of users in this page. Added to the requested startIndex to produce the next page token."
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            },
            "description": "Capitalised per RFC 7644 section 3.4.2."
          }
        },
        "required": [
          "totalResults",
          "Resources"
        ]
      },
      "GroupListResponse": {
        "type": "object",
        "description": "SCIM ListResponse envelope, decoded into client.GroupsResponse.",
        "properties": {
          "totalResults": {
            "type": "integer",
            "format": "int64"
          },
          "startIndex": {
            "type": "integer",
            "format": "int64"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int64"
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Group"
            }
          }
        },
        "required": [
          "totalResults",
          "Resources"
        ]
      },
      "User": {
        "type": "object",
        "description": "SCIM User with Notion's role extension, limited to the properties pkg/client/models.go declares. Used as both the create request body and the response shape for every user operation.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Notion user id. Used as the Baton user resource id."
          },
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The connector's DefaultUserSchema constant is urn:ietf:params:scim:schemas:core:2.0:User."
          },
          "userName": {
            "type": "string",
            "description": "Required on a User per RFC 7643 section 4.1.1. For Notion this is the account's email address, as the struct comment records."
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "active": {
            "type": "boolean",
            "description": "Drives the Baton user status."
          },
          "urn:ietf:params:scim:schemas:extension:notion:2.0:User": {
            "allOf": [
              {
                "$ref": "#/components/schemas/NotionUserExtension"
              }
            ],
            "description": "Notion's role extension, declared as a pointer in Go and carrying omitempty -- an absent extension is expected and handled. client.User.Role() returns \"\" in that case, and the connector emits no role grant."
          }
        },
        "required": [
          "id",
          "userName"
        ]
      },
      "NotionUserExtension": {
        "type": "object",
        "description": "Notion's SCIM extension carrying the workspace role. This is the connector's only source of role data -- Notion exposes no roles endpoint, so pkg/connector/role.go enumerates the four values below as static resources.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "membership_admin",
              "member",
              "restricted_member"
            ],
            "description": "Workspace role. Enum per Notion's documentation; the same four values are declared as constants in pkg/client/helpers.go. Carries omitempty on the request side."
          }
        }
      },
      "Name": {
        "type": "object",
        "description": "SCIM name sub-attribute, limited to the three fields the struct declares.",
        "properties": {
          "givenName": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "formatted": {
            "type": "string"
          }
        }
      },
      "Email": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "The email address. Modelled as a plain string rather than format: email because the connector neither validates nor normalises it."
          },
          "primary": {
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "description": "SCIM email type, e.g. work or home. Decoded but not read."
          }
        }
      },
      "Group": {
        "type": "object",
        "description": "SCIM Group, limited to the properties pkg/client/models.go declares. Returned both inside the list envelope and as the bare body of GET /Groups/{id}.",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Group id. Used as the Baton group resource id."
          },
          "displayName": {
            "type": "string",
            "description": "Required on a Group per RFC 7643 section 4.2. Used as the resource display name."
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            },
            "description": "Read from GET /Groups/{id} to emit one membership grant per entry."
          }
        },
        "required": [
          "id",
          "displayName"
        ]
      },
      "Member": {
        "type": "object",
        "description": "A group member reference.",
        "properties": {
          "value": {
            "type": "string",
            "description": "The member's user id. Paired with the user resource type to build the grant."
          },
          "$ref": {
            "type": "string",
            "description": "URI of the member resource, per RFC 7643. Decoded into the Go field Ref but not read."
          },
          "type": {
            "type": "string",
            "description": "Member type, e.g. User. Decoded but not read."
          }
        },
        "required": [
          "value"
        ]
      },
      "PatchRequest": {
        "type": "object",
        "description": "SCIM PatchOp request, from client.SCIMPatchRequest. The connector only ever builds one of these, for the role replace.",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Always [\"urn:ietf:params:scim:api:messages:2.0:PatchOp\"], from the SCIMPatchOpSchema constant."
          },
          "Operations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PatchOperation"
            },
            "description": "Capitalised per RFC 7644 section 3.5.2. The connector never sends more than one operation."
          }
        },
        "required": [
          "schemas",
          "Operations"
        ]
      },
      "PatchOperation": {
        "type": "object",
        "description": "Note that client.SCIMPatchOperation declares no `path` field at all -- the value-as-object form is the only one this connector can express.",
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "replace"
            ],
            "description": "The connector only ever sends `replace`."
          },
          "value": {
            "type": "object",
            "description": "An object keyed by the extension urn, whose value carries the new role.",
            "properties": {
              "urn:ietf:params:scim:schemas:extension:notion:2.0:User": {
                "$ref": "#/components/schemas/NotionUserExtension"
              }
            }
          }
        },
        "required": [
          "op",
          "value"
        ]
      },
      "Error": {
        "type": "object",
        "description": "SCIM error payload per RFC 7644 section 3.12. The connector does not declare a struct for it -- it classifies failures from the HTTP status alone -- so this shape is documentation only.",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string"
          },
          "scimType": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          }
        }
      }
    }
  }
}
